<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                {% for error in form.password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="submit-button">Login</button>

            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
        
        <div class="google-login-space"></div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-btn">
            <i class="fab fa-google"></i> <!-- Font Awesome Google icon -->
            <b>Login with Google</b>
        </a>
          

        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
</body>
</html>